.background-img{
    background-image: url(../images/bird-feeder-background-lighter.png);
    background-size: cover;
    background-color: green;
}
.title{
    font-family: 'Press Start 2P', cursive;
    padding: 1em 0em .25em 0em;
    font-size: 2em;
    text-align: center;
    color: rgb(6, 5, 70);
    text-shadow: 2px 2px white;

}

.content-wrapper{
    width: 95%;
    display: flex;

    flex-wrap: wrap;
    margin: auto;
    padding: 2em 0em;

}

.character-wrapper{
    display: flex;

    justify-content: space-between;
    width: 100%;
}

.characters{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.subtitles{
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 1.2em;
    background: rgb(6, 5, 70);
    padding: 5px 5px;
    margin: 0em 2em;
    color: white;
}

.body-text{ 
    font-family: 'VT323', monospace;
    font-size: 1.5em;
    color: white;
    background: rgb(6, 5, 70);
    border: rgb(6, 5, 70) solid 1px;
    padding: 2px 2px;
    
}

.card{
    width: 7em;
    height: 10em;
    text-align: center;
    padding: 0em .5em .5em .5em;

}

.fighting-area{
    display: flex;
    width: 100%;
    margin: 1em 0em;
}

.left-fighter{
    width: 70%;
    height: auto;
    text-align: center;
    padding: .5em .5em;
    float: right;
}

.right-fighter{
    width: 70%;
    height: auto;
    text-align: center;
    padding: .5em .5em;
    float: left;
}

.fight-progress{
    width: 100%;
    text-align: center;
    margin: auto;
}

.fighting-spot{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.image{
    width: 100%;
}

.button-div{
    display: flex;
    width: 100%;
    margin-bottom: 1em;
}

.button-style{
    background: white;
    border: rgb(6, 5, 70) dashed 2px;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    padding: .25em .5em;
    margin: 0em 2em; 
}

.attack-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.large-font{
    font-size: 2em;
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px rgb(6, 5, 70);
    line-height: 1.5em;

}

.footer{
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 3px 3px rgb(6, 5, 70);
    font-family: 'Press Start 2P', cursive;
    bottom: 0;
    position: fixed;
    font-size: .75em;
    padding: 5px 0px;
}
.space{
    width: 100%;
}

.hide{
    display: none;
}

.show{
    display: block;
}
