.content-wrapper{
    width: 95%;
    display: flex;
    background: powderblue;
    flex-wrap: wrap;
    margin: auto;
    padding: 2em 0em;
}

.card{
    border: red solid 2px;
    width: 7em;
    height: 9em;
    text-align: center;
    padding: 0em .5em .5em .5em;
    background: paleturquoise;
}

.left-fighter{
    border: purple solid 2px;
    width: 80%;
    height: auto;
    text-align: center;
    padding: .5em .5em;
    background: paleturquoise;
    float: right;
}

.right-fighter{
    border: purple solid 2px;
    width: 80%;
    height: auto;
    text-align: center;
    padding: .5em .5em;
    background: paleturquoise;
    float: left;
}

.fight-progress{
    width: 50%;
    text-align: center;
    background: palegoldenrod;
   
}
.character-wrapper{
    display: flex;
    background: yellow;
    justify-content: space-between;
    width: 100%;
}

.characters{
    background: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.villains{
    background: pink;
}

.heroes{
    background: palevioletred;
}

.fighting-area{
    background: plum;
    display: flex;
    width: 100%;
    margin: 2em 0em;
}

.defeated{
    display: flex;
    background: palegreen;
    width: 100%;
    justify-content: space-around;
    margin: .5em 0em;
}


.image{
    width: 100%;
}

.button-style{
    background: white;
    border: pink solid 2px;
    font-family: fantasy;
    font-size: 1.5em;
    padding: .25em .5em;
    margin: 0em 2em;
    
}

.button-div{
    display: flex;
    background: peru;
    width: 100%;
}
.space{
    width: 100%;
    background: green;
}

.attack-btn{
    background: papayawhip;
    width: 100%;
    display: flex;
    justify-content: center;
}
.hide{
    display: none;
}

.show{
    display: block;
}

