
.background-img{
    background-image: url(../images/test-background.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: green;
}
.title{
    font-family: 'Press Start 2P', cursive;
    padding: 1em 0em .25em 0em;
    font-size: 2em;
    text-align: center;

}


.body-text{
    
    font-family: 'VT323', monospace;
    font-size: 1.5em;
}
.content-wrapper{
    width: 95%;
    display: flex;

    flex-wrap: wrap;
    margin: auto;
    padding: 2em 0em;

}

.card{

    width: 7em;
    height: 10em;
    text-align: center;
    padding: 0em .5em .5em .5em;

}

.left-fighter{

    width: 100%;
    height: auto;
    text-align: center;
    padding: .5em .5em;

    float: right;
}

.right-fighter{

    width: 100%;
    height: auto;
    text-align: center;
    padding: .5em .5em;

    float: left;
}

.fight-progress{
    width: 50%;
    text-align: center;

   
}
.character-wrapper{
    display: flex;

    justify-content: space-between;
    width: 100%;
}

.characters{

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.subtitles{
    background: white;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 1.2em;
}
.villains{

}

.heroes{
 
}

.fighting-area{

    display: flex;
    width: 100%;
    margin: 1em 0em;
}

.defeated{
    display: flex;

    width: 100%;
    justify-content: space-around;
    margin: .5em 0em;
}


.image{
    width: 100%;
}

.button-style{
    background: white;
    border: pink solid 2px;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    padding: .25em .5em;
    margin: 0em 2em;
    
}

.button-div{
    display: flex;

    width: 100%;
}
.space{
    width: 100%;

}

.attack-btn{

    width: 100%;
    display: flex;
    justify-content: center;
}
.hide{
    display: none;
}

.show{
    display: block;
}
.large-font{
    font-size: 2em;
}

